$primary: #8b27b5;
$white: #FAF3FE;
$black: #2B043B;
$acento: #F69B12;
$primary-l2: #eedff4;
$primary-s3: #53176d;
$primary-s1: #6f1f91;

.formFieldLogueate {
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.btn-redes-registro {
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.btn-redes-registro .btn-white {
    width: 320px;
    margin-bottom: 15px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.robot{
    margin-top: 25px;
    background-color: $white;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.robot input {
    width: 15px;
}

.robot p {
    margin-left: 10px;
    size: smaller;
    color: black;
}

.robot .check {
    width: 70%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logoRegButton {
    width: 35%;
    align-items: left;
}

.TextRegButton{
    width: 65%;
    text-align: center;
    margin-right: 20px;
}

.registrate {
    animation: bordes 1s linear infinite ;
}

@keyframes bordes {
    0% {
        border:none;
    }
    /* 25% {
        border:solid 1px var(--blanco)
    } */
    75%{
        border:solid 3px $acento
    } 
    /* 100% {
        border:solid 1px var(--blanco)
    } */
}



.registrate span {
    animation: flotar 2s linear infinite ;
    position: relative;
}

#login {
    background-image: url('../../assets/image/home/fondoForm.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3%;
}



.containerSesion {
    background-color: rgba(43, 4, 59, 0.60);
    color: $white;
    width: 400px;
    border-radius: 10px;
    flex-shrink: 0;
    text-align: center;
    margin: auto; /*posiciono el contendor en el centro*/
    display: flex;
    flex-direction: column;
    align-items: center;  
    position:relative; /*para las burbujas*/
}

.titulo {
    margin-top: 20px;
    margin-bottom:20px;
}

.titulo h3 {
    color: $white;
}

.formField {
    text-align: left;
    margin-bottom: 15px;
}

.inputContainer{
    position: relative;
    display: inline-block;
}

.inputContainer svg {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajusta la posición horizontal del icono */
    transform: translateY(-50%);
}
input {
    width: 320px;
    height: 35px;
    border-radius: 10px;
}
label {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
label span {
    color: red;
}

.recuerdame {
    width: 320px;
    display: flex;
    display: left;
    justify-content: left;
}

.recuerdame svg {
    margin-right: 10px;
}

.btn-white {
    background-color: $white;
    width: 50px;
    height: 35px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-white img{
    align-items: center;
}
.btn-main {
    width: 320px;
    height: 35px;
    border-radius: 10px;
    color: $white;
    border: none;
}
.btn-main-active {
    background-color: $primary;
}
.btn-main-inactive {
    background-color: $primary-l2;
}
.btn-main:hover{
    background-color: $primary-s1;
}
.containerSesion input {
    border: none;
}

.containerSesion .btn-main {
    margin-top: 20px;
}

.linea {
    border: 1px;
    background-color: $black;
    width: 95px;
    height: 1px;
}

.formFieldRow {
    width: 320px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body2 {
    font-size: 12px;
    line-height: 24px;
}
.tx-small{
    font-size: 10px;
}
.btn-third {
    color: $acento;
    text-decoration: underline;
}
.btn-third:hover {
    color: $acento;
    text-decoration: underline;
    letter-spacing: 1px;
}
.formFieldRegistrate {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.btn-redes {
    display:flex;
    margin-bottom: 10px;
    
}

.btn-redes .btn-white {
    width: 155px;
    margin-bottom: 10px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
}