
    <div class="rating">
        <button id="1" [ngClass]="getClassStar(1, game)" (click)="changeQualification($event, game)">&#9733;</button>
        <button id="2" [ngClass]="getClassStar(2, game)" (click)="changeQualification($event, game)">&#9733;</button>
        <button id="3" [ngClass]="getClassStar(3, game)" (click)="changeQualification($event, game)">&#9733;</button>
        <button id="4" [ngClass]="getClassStar(4, game)" (click)="changeQualification($event, game)">&#9733;</button>
        <button id="5" [ngClass]="getClassStar(5, game)" (click)="changeQualification($event, game)">&#9733;</button>
    </div>