<body>
    <section class="carrousel-cards-offers">
        <h1>Ofertas de la semana</h1>
        <div id="container-cards-offers" class="container-cards-offers">
            <article class="card-offer">
                <h3 class="card-offer-title">OFERTA MENSUAL</h3>
                <img class="prueba" src="../../assets/image/home/cardOferta2.png" alt="fondo-card-oferta">
                <!-- <img  src="./img/Home/cardOferta2.png" alt="fondo-card"> -->
                <div class="container-card-offer">
                <h4>SUPER MARIO 3</h4>
                <div class="card-offer-prices">
                    <p class="body">$27000</p>
                    <h3>$20000</h3>
                </div>
                <button>Comprar</button>
                </div>
                <div class="container-count-down">
                    <p class="body-bold title-count-down">Finaliza en:</p>
                    <div class="count-down">
                        <div>
                            <p class="body-bold">15</p>
                            <p class="time">días</p>
                        </div>
                        <div>
                            <p class="body-bold">12</p>
                            <p class="time">horas</p>
                        </div>
                        <div>
                            <p class="body-bold">19</p>
                            <p class="time">minutos</p>
                        </div>
                        <div>
                            <p class="body-bold">35</p>
                            <p class="time">segundos</p>
                        </div>
                    </div>
                </div>
                
                <img src="../../assets/image/home/marioHover2Sinfondo.png" alt="mario-hover">
            </article>
            <article class="card-offer">
                <h3 class="card-offer-title">OFERTA MENSUAL</h3>
                <img class="prueba" src="../../assets/image/home/transformersFondo.png" alt="fondo-card-oferta">
                <!-- <img  src="./img/Home/cardOferta2.png" alt="fondo-card"> -->
                <div class="container-card-offer">
                    <h4>TRANSFORMERS</h4>
                    <div class="card-offer-prices">
                        <p class="body">$22150</p>
                        <h3>$17600</h3>
                    </div>
                    <button>Comprar</button>
                </div>
                <div class="container-count-down">
                    <p class="body-bold title-count-down">Finaliza en:</p>
                    <div class="count-down">
                        <div>
                            <p class="body-bold">6</p>
                            <p class="time">días</p>
                        </div>
                        <div>
                            <p class="body-bold">4</p>
                            <p class="time">horas</p>
                        </div>
                        <div>
                            <p class="body-bold">5</p>
                            <p class="time">minutos</p>
                        </div>
                        <div>
                            <p class="body-bold">18</p>
                            <p class="time">segundos</p>
                        </div>
                    </div>
                </div>
                
                <img src="../../assets/image/home/cardOferta4.png" alt="mario-hover">
            </article>
            <article class="card-offer">
                <h3 class="card-offer-title">OFERTA MENSUAL</h3>
                <img src="../../assets/image/home/cardOferta3.png" alt="fondo-card">
                <div class="container-card-offer">
                    <h4>PLANTAS VS ZOMBIES</h4>
                    <div class="card-offer-prices">
                        <p class="body">$24000</p>
                        <h3>$18000</h3>
                    </div>
                    <button>Comprar</button>
                </div>
                <div class="container-count-down">
                    <p class="body-bold title-count-down">Finaliza en:</p>
                    <div class="count-down">
                        <div>
                            <p class="body-bold">25</p>
                            <p class="time">días</p>
                        </div>
                        <div>
                            <p class="body-bold">6</p>
                            <p class="time">horas</p>
                        </div>
                        <div>
                            <p class="body-bold">9</p>
                            <p class="time">minutos</p>
                        </div>
                        <div>
                            <p class="body-bold">25</p>
                            <p class="time">segundos</p>
                        </div>
                    </div>
                </div>
                <img src="../../assets/image/home/zomb11 (1).png" alt="mario-hover">
            </article>
        </div>
        <div>
            <article class="card-offer">
                <h3 class="card-offer-title">OFERTA MENSUAL</h3>
                <img src="../../assets/image/home/Sonic-png-Transparent (1).png" alt="fondo-card">
                <div class="container-card-offer">
                    <h4>SONIC 2</h4>
                    <div class="card-offer-prices">
                        <p class="body">$30000</p>
                        <h3>$27000</h3>
                    </div>
                    <button>Comprar</button>
                </div>
                <div class="container-count-down">
                    <p class="body-bold title-count-down">Finaliza en:</p>
                    <div class="count-down">
                        <div>
                            <p class="body-bold">11</p>
                            <p class="time">días</p>
                        </div>
                        <div>
                            <p class="body-bold">17</p>
                            <p class="time">horas</p>
                        </div>
                        <div>
                            <p class="body-bold">46</p>
                            <p class="time">minutos</p>
                        </div>
                        <div>
                            <p class="body-bold">55</p>
                            <p class="time">segundos</p>
                        </div>
                    </div>
                </div>
                <img src="../../assets/image/home/SONIC (01) (1).png" alt="mario-hover">
            </article>
            <article class="card-offer">
                <h3 class="card-offer-title">OFERTA MENSUAL</h3>
                <img class="prueba" src="../../assets/image/home/SPID (1).png" alt="fondo-card-oferta">
                <!-- <img  src="./img/Home/cardOferta2.png" alt="fondo-card"> -->
                <div class="container-card-offer">
                <h4>SPIDERMAN 3</h4>
                <div class="card-offer-prices">
                    <p class="body">$32000</p>
                    <h3>$26000</h3>
                </div>
                <button>Comprar</button>
                </div>
                <div class="container-count-down">
                    <p class="body-bold title-count-down">Finaliza en:</p>
                    <div class="count-down">
                        <div>
                            <p class="body-bold">3</p>
                            <p class="time">días</p>
                        </div>
                        <div>
                            <p class="body-bold">22</p>
                            <p class="time">horas</p>
                        </div>
                        <div>
                            <p class="body-bold">22</p>
                            <p class="time">minutos</p>
                        </div>
                        <div>
                            <p class="body-bold">15</p>
                            <p class="time">segundos</p>
                        </div>
                    </div>
                </div>
                
                <img src="../../assets/image/home/SPID2 (1).png" alt="mario-hover">
            </article>
            <article class="card-offer">
                <h3 class="card-offer-title">OFERTA MENSUAL</h3>
                <img class="prueba" src="../../assets/image/home/cardOferta2.png" alt="fondo-card-oferta">
                <!-- <img  src="./img/Home/cardOferta2.png" alt="fondo-card"> -->
                <div class="container-card-offer">
                <h4>SUPER MARIO 3</h4>
                <div class="card-offer-prices">
                    <p class="body">$27000</p>
                    <h3>$20000</h3>
                </div>
                <button>Comprar</button>
                </div>
                <div class="container-count-down">
                    <p class="body-bold title-count-down">Finaliza en:</p>
                    <div class="count-down">
                        <div>
                            <p class="body-bold">15</p>
                            <p class="time">días</p>
                        </div>
                        <div>
                            <p class="body-bold">12</p>
                            <p class="time">horas</p>
                        </div>
                        <div>
                            <p class="body-bold">19</p>
                            <p class="time">minutos</p>
                        </div>
                        <div>
                            <p class="body-bold">35</p>
                            <p class="time">segundos</p>
                        </div>
                    </div>
                </div>
                
                <img src="../../assets/image/home/marioHover2Sinfondo.png" alt="mario-hover">
            </article>
        </div>
    </section>
</body>
