<section class="cart">
    <!-- <h1>Carrito de Compras</h1> -->
    <div id="cart" class="container-cart">
        <div class="cart-title">
            <p class="body-bold">Tu compra</p>
        </div>
        <div class="cart-body">
            <div class="cart-buys">
                <div class="cart-item">
                    <div>
                        <div class="cart-item-img"></div>
                        <p class="body2">Stumble Guys </p>
                    </div>
                    <div>
                        <p class="body2 item-price">$3599</p>
                        <img src="../../assets/image/icons/iconPapelera.svg" alt="papelera">
                    </div>
                </div>
                <div class="cart-item">
                    <div>
                        <div class="cart-item-img item-img-2"></div>
                        <p class="body2">Fall Guys </p>
                    </div>
                    <div>
                        <p class="body2 item-price">$3599</p>
                        <img src="../../assets/image/icons/iconPapelera.svg" alt="papelera">
                    </div>
                </div>
                <div class="cart-item">
                    <div>
                        <div class="cart-item-img"></div>
                        <p class="body2">Stumble Guys </p>
                    </div>
                    <div>
                        <p class="body2 item-price">$3599</p>
                        <img src="../../assets/image/icons/iconPapelera.svg" alt="papelera">
                    </div>
                </div>
                <div class="cart-item">
                    <div>
                        <div class="cart-item-img"></div>
                        <p class="body2">Stumble Guys </p>
                    </div>
                    <div>
                        <p class="body2 item-price">$3599</p>
                        <img src="../../assets/image/icons/iconPapelera.svg" alt="papelera">
                    </div>
                </div>
                <div class="cart-item">
                    <div>
                        <div class="cart-item-img"></div>
                        <p class="body2">Stumble Guys </p>
                    </div>
                    <div>
                        <p class="body2 item-price">$3599</p>
                        <img src="../../assets/image/icons/iconPapelera.svg" alt="papelera">
                    </div>
                </div>
            </div>
            <div class="cart-container-prices-btns">
                <div class="cart-item cart-item-price">
                    <h4>Total</h4>
                    <h4>$7198</h4>
                </div>
                <div class="cart-btns">
                    <button class="btn-main-active">Finalizar Compra</button>
                </div>
            </div>

        </div>
    </div>
</section>
