@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Oswald&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@300&display=swap');/* =============Reseteo=============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
/* =============Variables=============
*:root{
    --font: 'Poppins', sans-serif;
    --acento-l1: #f69b1280;
    --gris-1: #6e5c75;
    --gris-2: #cac1cd;
    --gris-3: #e4e4e5;
    --gris-4: #f6f5f7;
    --primario: #8b27b5;
    --primario-l1: #dbbce8;
    --primario-l2: #eedff4;
    --primario-l3: #f3e9f8;
    --primario-s1: #6f1f91;
    --primario-s2: #681d88;
    --primario-s3: #53176d;
    --secundario: #a7ef2b;
    --secundario-l1: #e4fabd;
    --secundario-l2: #f2fddf;
    --secundario-l3: #f6fdea;
    --secundario-s1: #96d727;
    --secundario-s2: #7db320;
    --secundario-s3: #4b6c13;
    --acento: #F69B12;
    --blanco: #FAF3FE;
    --error-color: #d33636;
    --exito-color: #66b527;
    --negro: #2B043B;
    --warning-color: #E8E020;
}*/
$primary: #8b27b5;
$white: #FAF3FE;
$black: #2B043B;
$acento: #F69B12;
$primary-l2: #eedff4;
$primary-s3: #53176d;



button{
    cursor: pointer;
}

/* =============Header Home Mobile ==============*/
#header-home{
    width: 100%;
    height: 100px; /*cambio 100*/
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}
.logo-header{
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.btn-buy{
    background-image: url("../assets/image/icons/carrito.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 35px;
    height: 35px;
    border: none;
    background-color: $primary;
}
#header-home nav ul{
    display: flex;
    gap: 100px;
    list-style: none;
    font-size: 18px;
}

#header-home nav ul a {
    color: $white;
    font-weight: bold;
    cursor: pointer;

}

#header-home nav ul a:hover{
    color: $acento;
}

.container-search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   position: relative;
}
.container-search img{
    position: absolute;
    right: 20px;
    top: 12px
}
.btn-header-offer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
    border-radius: 10px;
    height: 40px;
    width: 110px;
}

.input-search{
    width: 460px;
    height: 40px;
    // text-align: center;
    border-radius: 10px;
    border: 2px solid $primary;
    background: $primary-l2;
    padding-left: 20px;
}
.input-search::placeholder{
    //padding-left: 50px;
    
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;

}
.input-search:focus{
    outline: none;
    // padding-left: 35px;
}
.input-search:focus::placeholder{
    opacity: 0;
}
.container-search-login{
    display: flex;
    width: 30%;
    gap: 20px;
}

.log-in, .sign-in{
    width: 110px;
    height: 40px;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 10px;
    color: $white;
    font-weight: bold;
}
.sign-in{
    background-color: $acento;
    border: none;
}

.log-in:hover, .btn-header-offer:hover{
    background-color: $primary-s3;
   // border: none;
   // color: $acento;
    transform: scale(1.1);
    transition: all ease 0.5s;
}

.sign-in:hover{
    background-color: $primary-s3;
   // border: none;
    color: $acento;
    transform: scale(1.1);
    transition: all ease 0.5s;
}
.menu-burger{
    display: none;
}

.menu-user{
    width: 200px;
    height: auto;
    background-color: $primary;
    padding-bottom: 20px;
    position: fixed;
    top: 69px;
    right: 0;
    z-index: 500;
    padding: 0;
    display: none;
}

.menu-user .name-user {
    color: $white;
    text-align: center;
    padding-bottom: 20px;
}

.menu-side{
    width: 60px;
    height: 90vh;
    background-color: $primary;
    position: fixed;
    top: 60px;
    left: 0;
    color: $white;
    z-index: 500;
    overflow-y: scroll;
    transition: all 20ms ease;
}

.side-options {
    padding: 10px;
}

.side-options a{
    color: $white;
    cursor: pointer;
    display: block;
    transition: all 300ms;
}

.side-options .option {
    height: 40px;
    margin: 10px 0;
    padding: 20px 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
}

.side-options .option img {
    z-index: 2;
    height: 20px;
    width: 20px;
    margin-right: 21px;
    cursor: pointer;
}

.side-options .option p{
    cursor: pointer;
}

.option:hover{
    background-color: $primary-s3;
}

.side-options .option-search{
    background-color: $primary-l2;
}
.menu-burger{
    display: none;
}
.menu-burger button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.open{
    display: block;
}

/* ================================ */
@media screen and (max-width: 768px) {
    #header-home{
        height: 70px; 
        justify-content: space-around;
        padding: 0 20px;
    
    }

    .logo-header{
        width: 70px;
        height: 70px;
    }
    .input-search{
        width: 250px;
        height: 35px;
    }
    .container-search-login{
        width: 40%;
    }
    .container-search img{
        width: 15px;
        height: 15px;
    }
    .btn-header-offer, .log-in, .sign-in{
        height: 30px;
        width: 70px;
        font-size: 10px;
        padding: 3px;
    }
    .btn-header-offer img{
        width: 15px;
        height: 15px;
    }
    .menu-burger{
        display: none;
    }

    .menu-burger img{
        width: 25px;
        height: 25px;
    }
    

}
  
  /* ============================== */
  @media screen and (max-width: 425px) {
    .input-search, .container-search img, .btn-header-offer, .log-in, .sign-in{
        display: none;
    }
    .menu-burger{
        display: block;
        margin-right: 20px;
    }
   
  }