
    <header id="header-home">
        <figure>
            <img class="logo-header" src="../assets/image/home/logoVioletaOscuro.png" alt="logo">
        </figure>
        <nav>
            <ul>
                <a>Home</a>
                <a>About</a>
                <a>Contact</a>
            </ul>
        </nav>
    </header>
    <section class="container-games-cart">
        <app-game-list class="game-list"></app-game-list>
        <app-game-cart class="game-cart"></app-game-cart>
    </section>
    

    
    