/*=======card=======================*/
/*card comun sin tag*/

$primary: #8b27b5;
$white: #FAF3FE;
$black: #2B043B;
$acento: #F69B12;
$exit-color: #66b527;
$error-color: #d33636;
$grey-1: #6e5c75;
$primary-s2: #681d88;
$acento-l1: #f69b1280;
$secondary-s1: #96d727;
h1, h2, h3, h4, .tx-small, .body-bold, .body1, .body2, .tx-btn {
    font-family: var(--font);
    font-style: normal;
    line-height: normal;
    font-weight: 300;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 20px;
}
h3{
    font-size: 19px;
    font-weight: 400;
}
h4{
    font-size: 17px;
    font-weight: 700;
}
.body-bold {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.body1 {
    font-size: 14px;
    line-height: 24px;
}
.body2 {
    font-size: 12px;
    line-height: 24px;
}
.tx-small{
    font-size: 10px;
}
.tx-btn {
    font-size: 10px;
    letter-spacing: 1.8px;
}
.game-list{
    
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: flex-start;
    gap: 30px;
}
.container-games{
  
    display: flex;
    justify-content: center;
    
    flex-direction: column;
}
.title-section{
    font-weight: bolder;
    margin-bottom: 30px;
    color: $black;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 26px;
}
/*=====================card===================*/
.card {
    width: 190px;
    height: 240px;
    background-color: $white;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    transition: all 200ms ease;
    .price-off{
        display: none;
    }
    .card-price{
        top: 0;
        right: 0;
    }
}
.card-price h4.price-normal{
    font-size: 14px;
}

/*card con tag*/
.card.tag::after{
    align-items: center;
    justify-content: center;
    content: "";
    text-align: center;
    color: var(--blanco);
    font-size: 10px;
 
    color: $white;
    letter-spacing: 1.5px;
    width: 75px;
    height: 20px;
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    background-color: var(--exito-color);
    position: absolute;
    left: -6.1px;
    top: 20px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.50);
    display: none;
}

.card.tag::before {
    content: "";
    width: 12.6px;
    height: 12px;
    clip-path: polygon(0 0, 50% 0, 50% 100%);
    background-color: $exit-color;
    position: absolute;
    left: -6.1px; /*ver xq para q quede bien use estas medidad pero son raras con coma*/
    top: 39.8px;
    display: none;
}

.gratis.tag::after, .gratis.tag::before, .off.tag::after, .off.tag::before,
.exclusive.tag::after, .exclusive.tag::before, .nuevo.tag::after, .nuevo.tag::before {
    display: flex;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);

}

.tag.gratis, .tag.off{
    .price-off{
        display: block;
        font-size: 10px;
        color: $error-color;
        text-decoration: line-through;
    }
    .card-price{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2px;
        position: absolute;
        top: -7px;
    }
    .card-body h4{
        color: $exit-color;
    }
    .card-body h4.price-normal {
        margin-top: -5px;
    }
}

.tag.gratis {
    .card-title{
        width: 120px;
    }
}

.gratis.tag::after {
    content: "GRATIS";
    background-color: $exit-color;
}
.gratis.tag::before {
    background-color: $exit-color;
}
/*card con tag 20 %off*/
.off.tag::after {
    content: "20 %OFF";
    background-color: $error-color;
}
.off.tag::before {
    background-color: $error-color;
}
/*card con tag exclusivo*/
.exclusive.tag::after {
    content: "EXCLUSIVO";
    background-color: $primary;
}
.exclusive.tag::before {
    background-color: $primary;
}
/*card con tag nuevo*/
.nuevo.tag::after {
    content: "NUEVO";
    background-color: $acento;
}
.nuevo.tag::before {
    background-color: $acento;
}
.card-img {
    width: 190px;
    height: 120px;
    border-radius: 10px 10px 0px 0px;
}
.card figure{
    height: 120px;
}

.card-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 5px 10px;
    position: relative;
    margin-left: 8px;
}

.card-body p.tx-small{
    font-weight: 400;
    color: $grey-1;
}

.card-body p.body-bold {
    font-weight: 800;
}
.card-header{
    margin: 5px 5px 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    position: relative;
}

.card-header p.body1{
    text-decoration: line-through;
    color: $error-color;
}

.card-title {
    width: 105px;
    font-size: 14px;
    color:$black;
    margin-right: 2px;
    margin-left: 2px;
    white-space: nowrap; /*elimina saltos de linea*/
    overflow: hidden; /*elimina el texto q se sale del contenedor*/
    text-overflow: ellipsis; /*agrega puntos suspensivos*/
    margin-top: 5px;
}

.price-normal{
    color: $acento;
    text-align: right;
    position: relative;
}
.card-description{
    width: 170px;
    height: 30px;
    // padding-right: 5px;
    margin: 0 5px 5px 5px;
    color: $grey-1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.card-btns{
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 6px 10px 5px 10px;
    position: relative;
   
}

.card-btn-play {
    width: 80px;
    height: 25px;
    border: none;
    border-radius: 10px;
    background: $primary;
    color: $white;
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
}


.card-btn-play::before{
    content: '';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(45deg, var(--secundario), var(--primario), 
                deeppink, var(--primario), var(--secundario), var(--primario), deeppink, var(--primario));
    background-size: 200%;
    border-radius: 10px;
    filter: blur(6px);
    animation: glowing 5s linear infinite;
    
}

@keyframes glowing {
    0% {
        background-position: 0 0;
        transform: scale(1.04);
    }
    50% {
        background-position: 200% 0;
        transform: scale(1.1);
    }
    100%{
        background-position: 0 0 ;
        transform: scale(1.04);
    }
}   


.card-btn-play:hover::before{
    opacity: 1;    
}

.card-btn-play:hover{
    background-color: $primary-s2;
    font-size: 13px;
    transition: 0.5s linear;     
}


.card-btn-buy {
    background: $acento url("../../assets/image/icons/carrito.svg") no-repeat center center;
    background-size: 20px 20px;
    width: 40px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid $acento;
    position: relative;
    cursor: pointer;
}

.card-btn-buy-bought{
    background-image: url("../../assets/image/icons/iconCarroNegro.svg");
    background-size: 35px 20px;
    background-position: left;
    background-repeat: no-repeat;
    background-color: $acento-l1;
    width: 60px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid $acento-l1;
}
.card-btn-buy-bought::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: url('../../assets/image/icons/iconCheck.svg') no-repeat center center;
    background-size: 30px 20px; 
    top: 4px;
    right: 4px;
    z-index: 100;
}


/*card ya es tuyo!*/
.ya-es-tuyo{
    .card-price, .card-btn-buy{
        display: none;
    }
    .card-body::before{
        content: "";
        position: absolute;
        height: 70px;
        width: 70px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        top: 46px;
        right: -11px;
        border-bottom-right-radius: 10px;
        background-color: $acento;
        z-index: 300;
    }
    .card-body::after{
        content: "YA ES TUYO!";
        position: absolute;
        height: 30px;
        width: 70px;
        top: 75px;
        right: -25px;
        color: $white;
        font-size: 11px;
        font-weight: 500;
        text-shadow: 3px 3px 3px $black;
        transform: rotate(-46deg);
        z-index: 400;
    }
}

.card:hover{
    transform: scale(1.03);
    box-shadow: 3px 3px 0 0 $secondary-s1;
}

.open {
    display: block;
}

.close {
    visibility: hidden;
}
.rating button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

.filled {
    color: $exit-color;
  }
  
  .empty {
    color: $black;
  }
  