

<section class="container-games">
    <!-- <h1 class="title-section">Juegos más elegidos</h1> -->

    <div class="game-list">
        <!-- <ng-container *ngIf="games$ | async as games">   -->
            @for(game of games$ | async; track game.title){
                <article [ngClass]="getClass(game)">
                    <figure>
                    <img class="card-img" [src]="game.image" [alt]='game.title'>
                    </figure>
                    <div class="card-body">
                        <div class="card-header">
                            <p class="card-title body-bold">{{game.title}}</p>
                            <div class="card-price">
                                @if(game.type == 'gratis'){
                                    <p class="price-off ">${{game.price_normal}}</p>
                                    <h4 class="price-normal">$0</h4>
                                }@else if(game.type == 'off'){
                                    <p class="price-off ">${{game.price_normal}}</p>
                                    <h4 class="price-normal">${{game.price_off}}</h4>
                                }
                                @else{
                                    <p class="price-off">${{game.price_off}}</p>
                                    <h4 class="price-normal">${{game.price_normal}}</h4>
                                }
                                
                            </div>
                        </div>
                        <p class="card-description tx-small">{{game.description}}
                        </p>
                    </div>
                    <div class="card-btns">
                        <div class="rating">
                            <button id="1" [ngClass]="getClassStar(1, game)" (click)="changeQualification($event, game)">&#9733;</button>
                            <button id="2" [ngClass]="getClassStar(2, game)" (click)="changeQualification($event, game)">&#9733;</button>
                            <button id="3" [ngClass]="getClassStar(3, game)" (click)="changeQualification($event, game)">&#9733;</button>
                            <button id="4" [ngClass]="getClassStar(4, game)" (click)="changeQualification($event, game)">&#9733;</button>
                            <button id="5" [ngClass]="getClassStar(5, game)" (click)="changeQualification($event, game)">&#9733;</button>
                        </div>
                        <button  [ngClass]="getClassCart(game)" (click)="addCart(game)"></button>
                    </div>
                </article>
            }
        <!-- </ng-container>   -->
    </div>
        
      
</section>



